asgiref==3.8.1
Django==5.2
ecos==2.0.14
et_xmlfile==2.0.0
joblib==1.5.1
mysqlclient==2.2.7
numexpr==2.10.2
numpy==2.2.5
openpyxl==3.1.5
osqp==0.6.7.post3
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
qdldl==0.1.7.post5
scikit-learn==1.6.1
scikit-survival==0.24.1
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
